<h1>NBC</h1>
<p>The worst bytecode you will ever see</p>
<hr />
<h2>Basic instruction architecture</h2>
<p>The minimum size for an opcode is 32 bits. The max size is 32 * 4. The size depends on how many arguments the opcode takes.<br />
RAM is 32 bits wide (Meaning all numbers are u32)</p>
<h3>Opcode structure</h3>
<ul>
<li pref="">b0-b15: Opcode</li>
<li pref="">b16-17:arg1 flags</li>
<li pref="">b18-19:arg2 flags</li>
<li pref="">b20-21:arg3 flags</li>
<li pref="">b22-31:Unused (Must be set to 0)</li>
</ul>
<h4>Argument flag structure</h4>
<p>Each argument had a flag in the opcode specifying what type of argument the instruction is following. Each flag is a number from 0 to 3</p>
<ol>
<li pref="">Constant</li>
<li pref="">Address</li>
<li pref="">Indirect addressing</li>
<li pref="">Unused (Program will panic if using this)</li>
</ol>
<h3>Endianness</h3>
<p>Big endian</p>
<hr />
<h2>Opcodes</h2>
<ul>
<li pref="">System <code>0x0---</code></li>
<li pref=""><code>0x0000: NOP</code><ul>
<li pref="">Does nothing</li>
</ul>
</li>
<li pref=""><code>0x0001: HALT</code><ul>
<li pref=""><code>Ends the program</code></li>
</ul>
</li>
<li pref=""><code>0x0002: PORT</code><ul>
<li pref="">Gives port command</li>
<li pref="">Arg1: Port</li>
<li pref="">Arg2: Command</li>
<li pref="">Arg3: Data</li>
</ul>
</li>
<li pref=""><code>0x0004: MOV</code><ul>
<li pref="">Sets a RAM location's value</li>
<li pref="">Arg1: Value</li>
<li pref="">Arg2: Destination</li>
</ul>
</li>
<li pref="">Math <code>0x1---</code></li>
<li pref="">Structure of all math operations:<ul>
<li pref="">Arg1: Operand 1</li>
<li pref="">Arg2: Operand 2</li>
<li pref="">Arg3: Destination</li>
</ul>
</li>
<li pref=""><code>0x1000: ADD</code>
    -Adds two operands and stores them</li>
<li pref=""><code>0x1001: SUB</code><ul>
<li pref="">Subtracts two operands and stores them</li>
</ul>
</li>
<li pref=""><code>0x1002: MUL</code><ul>
<li pref="">Multiplies two operands and stores them</li>
</ul>
</li>
<li pref=""><code>0x1003: DIV</code><ul>
<li pref="">Divides two operands and stores them</li>
</ul>
</li>
<li pref=""><code>0x1004: MOD</code>
    -Divides two operands and stores the remainder</li>
<li pref=""><code>0x1005: NOT</code><ul>
<li pref="">Bitwise NOTs two operands and stores them</li>
</ul>
</li>
<li pref=""><code>0x1006: OR</code><ul>
<li pref="">Bitwise ORs two operands and stores them</li>
</ul>
</li>
<li pref=""><code>0x1007: AND</code>
    -Bitwise ANDs two operands and stores them</li>
<li pref=""><code>0x1008: XOR</code><ul>
<li pref="">Bitwise XORs two operands and stores them</li>
</ul>
</li>
<li pref="">Compare <code>0x2---</code></li>
<li pref=""><code>0x2000: CMP</code><ul>
<li pref="">Compares two operands and sets a flag stating its compared value</li>
</ul>
</li>
<li pref="">Branching <code>0x3---</code></li>
<li pref=""><code>0x3000: JMP</code><ul>
<li pref="">Jumps to a place in the program</li>
</ul>
</li>
<li pref=""><code>0x3001: JEQ</code><ul>
<li pref="">JMPs if CMP returned equal</li>
</ul>
</li>
<li pref=""><code>0x3002: JNE</code><ul>
<li pref="">JMPs if CMP returned not equal</li>
</ul>
</li>
<li pref=""><code>0x3003: JG</code><ul>
<li pref="">JMPs if CMP returned greater than</li>
</ul>
</li>
<li pref=""><code>0x3004: JL</code><ul>
<li pref="">JMPs if CMP returned less than</li>
</ul>
</li>
<li pref=""><code>0x3005: JSR</code><ul>
<li pref="">JMPs with the ability to return, pushing a value to a seprate stack called the proc stack</li>
</ul>
</li>
<li pref=""><code>0x3006: RET</code><ul>
<li pref="">Returns from a JSR by popping the last value pushed to the proc stack</li>
</ul>
</li>
<li pref="">Stack manipulation <code>0x4---</code></li>
<li pref=""><code>0x4000: PUSH</code><ul>
<li pref="">Pushes one value to the stack</li>
</ul>
</li>
<li pref=""><code>0x4001: POP</code><ul>
<li pref="">Pops a value off of the stack to the address specified</li>
</ul>
</li>
</ul>
<h3>Stack Operations</h3>
<p>The stack is FILO (First In Last Out) meaning
the first value you push will be the last one
popped off of it</p>
<p>For example:</p>
<pre><code>PUSH #01
PUSH #02
POP $00 'Returns 2
POP $01 'Returns 1
</code></pre>

<hr />
<h2>Ports</h2>
<p>Main IO is through ports</p>
<p>Each port takes a command value and a data
value. This may change from architecture to architecture, but the ones stated are the ones which are required</p>
<ul>
<li pref="">Port 0: Standard Commands</li>
<li pref="">Command 0: Get available RAM<ul>
<li pref="">Data: Where to store the return value</li>
</ul>
</li>
<li pref="">Command 1: Get character from buffer<ul>
<li pref="">Data: Where to store the current key</li>
</ul>
</li>
<li pref="">Command 2: Wait for keystroke then get character<ul>
<li pref="">Data: Where to store the key pressed</li>
</ul>
</li>
<li pref="">Command 3: Output character in a TTY fashion</li>
<li pref="">Port 1: Unstandard Commands</li>
<li pref="">Command 0: Set Color</li>
</ul>
